// Variables for colors : 
$primary-color:rgb(133, 186, 128); 
$second-color:rgb(105, 135, 80); 

// Variables for font-family :
$primary-font: 'Protest Strike', sans-serif;
$second-font: 'Edu SA Beginner', cursive;



