// Variables for colors : 
$primary-color:rgb(133, 186, 128); 
$second-color:rgb(68, 94, 47); 

// Variables for font-family :
$primary-font: 'Protest Revolution', sans-serif;
$second-font: 'Edu SA Beginner', cursive;



