@use '@scssVariables' as v;

// body {
//     font-family: v.$second-font
//   }

.protestRevolution {
    font-family: v.$primary-font; 
}

.eduSaBeginner {
    font-family: v.$second-font; 
    font-weight: bolder; 
    
}


