.banner{
    height: 50vh; 
    width: 100%; 
    background-image: url('../../../public/images/tapisPlantes.jpg'); 
    color: white; 
    font-size: 50px; 
    text-align: center; 
    padding-top: 150px; 
}