.banner{
    height: 33vh; 
    width: 100%; 
    background-image: url('../../../public/images/tapisPlantes.jpg'); 
    
    color: white; 
    font-size: 5vh; 
    text-align: center; 
    padding-top: 10vh; 
}

.plantesBleues {
    background-image: url('../../../public/images/gouttesPlantes.jpg'); 
}